div { background-color: hsl(51, 26%, 26%); height: 10vw; width: 25vw;}
span { color: color(srgb, 0 0.5 0 / 0.8); }

a:hover{
  background-color: rgb(202, 179, 51);
  border-style: inset;
}

.title {
  text-decoration: underline overline;
  text-align: center;
  display: block;
  position:static;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-style:dashed;
  border-color:#0a0c08c1;
  border-width:8px;
  border-radius:10px;
  font-family: "Jersey 25", sans-serif;
  background-color: var(--HD-yellow);

}

.title:active {
  box-shadow: 10px 20px 50px #ec6d06;
}

body { background-color: var(--main-bg-color, rgba(5, 4, 2, 0.824)); }

/* Styling for different sections using ID selectors */
#meeting_title h1 {
  color: rgb(255, 0, 0); margin: 2em; ;
}

#attendance #agenda h2{
  text-align: center;
}

#attendance ul {
  list-style: none;
  padding: 0;
}

#attendance li {
  display: grid;

  grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 3;

  padding: 5px;
  border-bottom: 1px solid gray;
}

#agenda ol {
  padding-left: 50px;
}

#hidden_text {
  display: none;
}

#unfinished {
  text-decoration: underline overline;
  text-align: center;
  margin: 10px 10px 10px 10px;
  padding: 2% 2% 2% 2%;
  border: 5px groove rgb(38, 49, 77);
  background-color:goldenrod;
  font-size: 20px;
  
}

picture img {
  max-width: 80%;
  max-height: 50%;
}

.flex-items {
  display: flex;
  align-items: stretch;
  background-color: goldenrode;
}

.flex-items>div {
  background-color: black;
  color: red;
  width: 1000px;
  margin: 10px;
  text-align: center;
  line-height: 55px;
  font-size: 15px;
}

.grid-items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Defines three columns of equal width */
  grid-gap: 20px; /* Space between the grid items */
  padding: 20px; /* Optional: padding around the entire grid */
}

nav {
  position: sticky;
  top: 10px;
}