div { background-color: hsl(51, 26%, 26%); width: 25vw;}
span { color: color(srgb, 0 0.5 0 / 0.8); }

.title {
  text-decoration: underline overline;
  text-align: center;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-style:dashed;
  border-color:#425935c1;
  border-width:8px;
  border-radius:10px;
  font-family: "copperplate", fantasy;
  background-color: var(--HD-yellow);
}

body { background-color: var(--main-bg-color, rgba(63, 52, 36, 0.591)); }

/* Styling for different sections using ID selectors */
#meeting_title h1 {
  color: rgb(255, 0, 0); margin: 2em; ;
}

#attendance ul {
  list-style: none;
  padding: 0;
}

#attendance li {
  padding: 5px;
  border-bottom: 1px solid gray;
}

#agenda ol {
  padding-left: 2px;
}

#unfinished h2{
  text-decoration: underline overline;
  text-align: center;
  display: block;
  margin: 10px 10px 10px 10px;
  padding: 2% 2% 2% 2%;
  border: 5px groove rgb(38, 49, 77);
  background-color:goldenrod;
  font-size: 20px;
  
}